transformers==2.8.0
altair==4.1.0
torch==1.10.0
plotly==5.4.0
tokenizers==0.5.2
streamlit-folium==0.4.0
folium==0.12.1.post1
geopandas==0.12.1
geos==3.10.1
bs4==0.0.1
pycaret-ts-alpha
streamlit==1.37.0
