transformers==2.8.0
altair==4.1.0
torch==1.10.0
plotly==5.4.0
tokenizers==0.5.2
streamlit-folium==0.4.0
streamlit==1.1.0
folium==0.12.1.post1
geopandas 
geos==0.2.3
bs4==0.0.1


pandas
scipy<=1.5.4
numpy==1.19.5
seaborn
matplotlib
IPython
joblib
scikit-learn==0.23.2
ipywidgets
yellowbrick>=1.0.1
lightgbm>=2.3.1
plotly>=4.4.1
wordcloud
textblob
cufflinks>=0.17.0
umap-learn
pyLDAvis
gensim<4.0.0
spacy<2.4.0
nltk
mlxtend>=0.17.0
pyod
pandas-profiling>=2.8.0
kmodes>=0.10.1
mlflow
imbalanced-learn==0.7.0
scikit-plot #for lift and gain charts
Boruta
pyyaml<6.0.0
#numba<0.54

pycaret-ts-alpha==3.0.0.dev1638407153
